.user-card {
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 400px) {
    .user-card {
        width: 80%;
        margin: 0 auto;
    }
}

.login-button,
.signup-button,
.button-add {
    margin-top: 20px;
}

.login-status {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    margin: 5px;
    color: white;
    background-color: black;
}

