.form-input {
    padding: 3px;
}

@media screen {
    body { 
        background: #ECEFF1; 
        color: rgba(0,0,0,0.87); 
        font-family: Roboto, Helvetica, Arial, sans-serif; 
        margin: 0; 
        padding: 0; 
    }
}

.navbar-toggler {
    background-color: white;
    padding: 3px;
}

.navbar-brand-text {
    font-size: 1.2rem; 
    padding-left: 10px;
    color: white;
}

#signin-form .modal-footer {
    border-top: none;
}

#signup-form .modal-footer {
    border-top: none;
}

.user-card {
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 400px) {
    .user-card {
        width: 80%;
        margin: 0 auto;
    }
}

