@media (min-width: 400px) {
   
}

.login-button,
.signup-button,
.button-add {
    margin-top: 20px;
}

.login-status {
    color: #FFF;
}

.delete-button,
.edit-button {
    width: 100%;
    margin: 5px;
}

.section-title {
    font-size: 10px;
    border-bottom: 1px solid #3EA6A7;
    margin: 0;
    padding: 0;
}

